*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
/nbproject/*
/assets/img/user_avtar/*
/assets/img/batches/*
/assets/message_attachments/*
/assets/img/event_images/*
upload_to_ftp.sh
git-ftp.py