*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
/nbproject/*
/assets/img/user_avtar/*
/assets/img/batches/*
/assets/img/event_images/*
/assets/img/solution_courses/*
/assets/message_attachments/*
/assets/email_attachments/*
/assets/solution_courses_form/*
/assets/attribution_cards/*
/assets/student_documents/*
upload_to_ftp.sh
git-ftp.py