h1.page-heading {
    text-transform: uppercase;
    color: #ed8b00;
}

.page-content {
    background: #212721;
}

footer {
    background: #fff;
    text-align: center;
    font-size: 13px;
    padding: 15px;
    margin-top: 20px;
    border-top: 1px solid #E6E9ED;
    line-height: 170%;
}

.text-primary{
    color: #29AF8E !important;
}

/* Sidebar Menu */
.sidebar-left {
    background: #fff;
    color: #ffffff;
}

ul.sidebar-menu li.static {
    color: #11EC11;
}

ul.sidebar-menu li {
    display: block;
    color: #AAB2BD;
}

ul.sidebar-menu li a {
    color: #212721;
    border-bottom: 1px solid #2c3439;
}

ul.sidebar-menu li ul.submenu {
    background: #313940;
}

ul.sidebar-menu li ul.submenu li a {
    color: #AAB2BD;
    border-left: 1px solid #212721;
}

ul.sidebar-menu li ul.submenu li a:hover, ul.sidebar-menu li ul.submenu li a:focus {
    color: #AAB2BD;
    background-color: #313940;
}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    color: #ed8b00;
}

ul.sidebar-menu li.selected a, ul.sidebar-menu li.selected a:hover, 
ul.sidebar-menu li.selected a:focus, ul.sidebar-menu li.active a, 
ul.sidebar-menu li.active a:hover, ul.sidebar-menu li.active a:focus {
    color: #ed8b00;
}

ul.sidebar-menu li.selected a, ul.sidebar-menu li.selected a:hover, 
ul.sidebar-menu li.selected a:focus, ul.sidebar-menu li.active a, 
ul.sidebar-menu li.active a:hover, ul.sidebar-menu li.active a:focus {
    color: #ed8b00;
    background-color: #fff; 
}

a.list-group-item:hover, a.list-group-item:focus {
    color: #000;
}

.mail-apps-wrap .toolbar {
    background: #212721;
}

.alert-danger.alert-block {
color: #fff;
background-color: #d63d36;
border-color: #d63d36;
}

.panel-primary a, .panel-primary a:hover, .panel-primary a:focus, .panel-primary a:active{
    color: #fff;
    text-decoration: none;
}

.panel-primary ul.dropdown-menu li a:hover{
    color: #fff;
    background-color: #37BC9B;
}

.panel-heading .right-content {
    right: 15px;
}

.btn-group.open .dropdown-toggle {
box-shadow: none;
}

.bg-default{
    color: #fff;
    background-color: #ddddda;
}

#statistics-challenge{
    height: 350px;
}

#top-five-users .top-user-image{
    width: 50px;
    position: relative;
    margin-right: 10px;
}

.duel-single .bg-success{
    background-color: #8CC152;
}