/**
----------------------------------------------
LOGIN, FORGOT PASS, REGISTER AND LOCK SCREEN
----------------------------------------------
**/
body.login{
    background: #212721;
    padding: 0;
}

.login-header {
    background: #1e241e;
}

.login .btn-warning {
    background-color: #ed8b00;
    border-color: #c88127
}

.login .btn-warning:hover, .login .btn-warning:focus, .login .btn-warning:active, .login .btn-warning.active, .login .open .dropdown-toggle.btn-warning {
    background-color: #E8AA2E;
    border-color: #E8AA2E;
}

.login .btn-warning.btn-perspective {
    -webkit-box-shadow: 0px 3px 0px #C6901F;
    -moz-box-shadow: 0px 3px 0px #C6901F;
    box-shadow: 0px 3px 0px #C6901F;
}

.register-select {
  color: #999;
}

.register-select option:first-child{
  color: #999;
}

.register-select option{
  color: #000;
}

/**
----------------------------------------------
**/
.text-black{
    color: #000 !important;
}

a.text-black{
    color: #000 !important;
    text-decoration: none !important;
}

a.text-black:hover{
    color: #37BC9B !important;
    text-decoration: none !important;
}

.text-white{
    color: #fff !important;
}

.bg-danger .error{
    color: #fff;   
}
.text-justify{
    text-align: justify;
}

label.error{
    color: #E9573F;
    padding-left: 5px;
    font-size: 12px;
    font-weight: normal;;
}

small.help-block{
    color: #E9573F;
}

.actions {
    margin-right: 5px;
    margin-left: 5px;
}

.media .media-body .logout-action {
    display: inline;
    padding: 0px;
    text-decoration: none;
    border-bottom: 0px;
}

.media-body a.logout-action:hover {
    background-color: inherit;
}

.tiles-information p {
    color: #000000;
}

.notification-icon{
    margin: 3px 0 0 -45px;
    float: left;
}

.nav-dropdown-content.static-list ul li .absolute-left-content, .nav-dropdown-content ul li a .absolute-left-content {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.input-group[class*=col-] {
    padding-left: 15px; 
    padding-right: 15px; 
}

.padding-killer{
    padding: 0px !important;
}

.padding-top-killer{
    padding-top: 0px !important;
}

.padding-right-killer{
    padding-right: 0px !important;
}

.padding-bottom-killer{
    padding-bottom: 0px !important;
}

.padding-left-killer{
    padding-left: 0px !important;
}

.pad-10{
    padding: 10px 10px 10px 10px;
}

.pad-tp-10{
    padding-top: 10px;
}

.pad-rt-10{
    padding-right: 10px;
}

.pad-bt-10{
    padding-bottom: 10px;
}

.pad-lt-10{
    padding-left: 10px;
}

.margin-killer{
    margin: 0px !important;
}

.margin-top-killer{
    margin-top: 0px !important;
}

.margin-right-killer{
    margin-right: 0px !important;
}

.margin-bottom-killer{
    margin-bottom: 0px !important;
}

.margin-left-killer{
    margin-left: 0px !important;
}

.mar-10{
    margin : 10px 10px 10px 10px;
}

.mar-bt-10{
    margin-bottom: 10px;
}

.mar-tp-10{
    margin-top: 10px;
}

.mar-lt-10{
    margin-left: 10px;
}

.mar-rt-10{
    margin-right: 10px;
}

.alert-primary{
    background-color: rgb(55, 188, 155);
    color: rgb(255, 255, 255);
}

.inline {
    display: inline;
}

.white-border{
    border: 1px solid #fff;
}

.border-bottom{
    border-bottom: 1px solid #E6E9ED;
}

.clear{
    clear: both;
}

.input-group-addon, .input-group-btn {
    vertical-align: top;
}

.vetrical-middle{
    vertical-align: middle !important;
}

.img-batch {
    width: 25%;
}

.img-batch-cover {
    width: 100%;
    height: auto;
}

.dataTables_processing{
    text-align: center;
}

a.list-group-item.btn {
    color: #fff;
    text-align: left;
}

a.list-group-item.btn:hover {
    color: #000;
    text-align: left;
}

a.list-group-item.btn.active {
    background-color: #434A54;
    border-color: #434A54;
    color: #fff;
}

.mail-tab-hr {
    margin: 25px 0 5px;
    border-color: #D5DAE0;
}

.has-error .form-control, .has-success .form-control {
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;
    transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;
}

a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: #F5F7FA;
}   

.list-group-item.mail-list.read {
    background: #F5F7FA;
}

.list-group-item.mail-list{
    `-left: 0px;
    padding-right: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.list-group-item {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.message-delete-checkbox{
    width: 1px;
    padding: 19px;
}

.message-delete-checkbox.read{
     background: none repeat scroll 0 0 #f5f7fa;
}

li.role-selection.open .chevron-icon-sidebar{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.group-avtar-icon{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    vertical-align: middle;
    padding: 12px 0;
}

.group-avtar-icon-notification{
    padding: 12px 0;
}

.store-item img.item-image {
height: 180px;
}

.alert-block .btn-group {
    margin-top: -5px;
}

.radio+.radio, .checkbox+.checkbox{
    margin-top: 0px;
}

h1.page-heading {
    text-transform: capitalize;
}

h1.page-heading small {
text-transform: none;
color: #656D78;
}

.panel-group .panel .panel-heading{
    padding: 10px 15px;
}

#back-top {
    color: #434A54;
    background: #fff;
    font-size: 18px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    right: 5px;
    bottom: 0;
    z-index: 10001;
}

#back-top a, #back-top a:hover, #back-top a:focus {
    color: #434A54;
    padding: 10px;
    display: block;
}

footer{
    bottom:0px;
    width:100%;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-text-dot{
    text-overflow : ellipsis;
}

.radio .iradio_square-grey {
    margin-right: 5px;
}

.nowrap{
    white-space: nowrap;
}

/* Summer Note Editor */
.note-editor hr {
    margin: 10px 0;
}
/*********************/

/* Bootstrap Tabs and Chose Jquery issue solutions */
.tab-content .chosen-container {
    width: 100% !important;
}

.tab-content .tab-pane .chosen-container .chosen-choices .search-field .default{
    width: 100% !important;
}
/*********************/
.nav-tabs.left-position > li {
    margin-bottom: 0px;
}

.label-danger-warning{
    background: -webkit-linear-gradient(left, #E9573F 50%, #F6BB42 50%);
    background: -o-linear-gradient(right, #E9573F 50%, #F6BB42 50%);
    background: -moz-linear-gradient(right, #E9573F 50%, #F6BB42 50%);
    background: linear-gradient(to right, #E9573F 50% , #F6BB42 50%);
}

.label-success-danger{
    background: -webkit-linear-gradient(left, #8cc152 80%, #E9573F 20%);
    background: -o-linear-gradient(right, #8cc152 80%, #E9573F 20%);
    background: -moz-linear-gradient(right, #8cc152 80%, #E9573F 20%);
    background: linear-gradient(to right, #8cc152 80% , #E9573F 20%);
}

.badge-info-danger{
    background: -webkit-linear-gradient(left, #3BAFDA 80%, #E9573F 20%);
    background: -o-linear-gradient(right, #3BAFDA 80%, #E9573F 20%);
    background: -moz-linear-gradient(right, #3BAFDA 80%, #E9573F 20%);
    background: linear-gradient(to right, #3BAFDA 80% , #E9573F 20%);
}

.badge-warning-info{
    background: -webkit-linear-gradient(left, #F6BB42 80%, #3BAFDA 20%);
    background: -o-linear-gradient(right, #F6BB42 80%, #3BAFDA 20%);
    background: -moz-linear-gradient(right, #F6BB42 80%, #3BAFDA 20%);
    background: linear-gradient(to right, #F6BB42 80% , #3BAFDA 20%);
}

.badge-success-danger{
    background: -webkit-linear-gradient(left, #8CC152 80%, #E9573F 20%);
    background: -o-linear-gradient(right, #8CC152 80%, #E9573F 20%);
    background: -moz-linear-gradient(right, #8CC152 80%, #E9573F 20%);
    background: linear-gradient(to right, #8CC152 80% , #E9573F 20%);
}

.badge-warning-success{
    background: -webkit-linear-gradient(left, #F6BB42 80%, #8CC152 20%);
    background: -o-linear-gradient(right, #F6BB42 80%, #8CC152 20%);
    background: -moz-linear-gradient(right, #F6BB42 80%, #8CC152 20%);
    background: linear-gradient(to right, #F6BB42 80% , #8CC152 20%);
}

.badge-inverse{
    background-color: #AAB2BD;
}

.badge-inverse-danger{
    background: -webkit-linear-gradient(left, #AAB2BD 80%, #E9573F 20%);
    background: -o-linear-gradient(right, #AAB2BD 80%, #E9573F 20%);
    background: -moz-linear-gradient(right, #AAB2BD 80%, #E9573F 20%);
    background: linear-gradient(to right, #AAB2BD 80% , #E9573F 20%);
}

.badge-warning-inverse{
    background: -webkit-linear-gradient(left, #F6BB42 80%, #AAB2BD 20%);
    background: -o-linear-gradient(right, #F6BB42 80%, #AAB2BD 20%);
    background: -moz-linear-gradient(right, #F6BB42 80%, #AAB2BD 20%);
    background: linear-gradient(to right, #F6BB42 80% , #AAB2BD 20%);
}

#confirmButtons .btn-default{
    color: #fff;
    background-color: #000;
}

.datepicker .datepicker-years, .datepicker .datepicker-months, .datepicker .datepicker-days {
    min-width: 226px;
}

.avatar-60{
    width: 60px;
    height: 60px;
}
 /* ******* DUELS LIST ******  */
.label-default-warning{
    background: -webkit-linear-gradient(left, #AAB2BD 60%, #F6BB42 40%);
    background: -o-linear-gradient(right, #AAB2BD 60%, #F6BB42 40%);
    background: -moz-linear-gradient(right, #AAB2BD 60%, #F6BB42 40%);
    background: linear-gradient(to right, #AAB2BD 60% , #F6BB42 40%);
}

.label-default-success{
    background: -webkit-linear-gradient(left, #AAB2BD 60%, #8CC152 40%);
    background: -o-linear-gradient(right, #AAB2BD 60%, #8CC152 40%);
    background: -moz-linear-gradient(right, #AAB2BD 60%, #8CC152 40%);
    background: linear-gradient(to right, #AAB2BD 60% , #8CC152 40%);
}

.label-default-danger{
    background: -webkit-linear-gradient(left, #AAB2BD 60%, #E9573F 40%);
    background: -o-linear-gradient(right, #AAB2BD 60%, #E9573F 40%);
    background: -moz-linear-gradient(right, #AAB2BD 60%, #E9573F 40%);
    background: linear-gradient(to right, #AAB2BD 60% , #E9573F 40%);
}

.label-info-warning{
    background: -webkit-linear-gradient(left, #3BAFDA 60%, #F6BB42 40%);
    background: -o-linear-gradient(right, #3BAFDA 60%, #F6BB42 40%);
    background: -moz-linear-gradient(right, #3BAFDA 60%, #F6BB42 40%);
    background: linear-gradient(to right, #3BAFDA 60% , #F6BB42 40%);
}

.label-info-success{
    background: -webkit-linear-gradient(left, #3BAFDA 60%, #8CC152 40%);
    background: -o-linear-gradient(right, #3BAFDA 60%, #8CC152 40%);
    background: -moz-linear-gradient(right, #3BAFDA 60%, #8CC152 40%);
    background: linear-gradient(to right, #3BAFDA 60% , #8CC152 40%);
}

.label-info-danger{
    background: -webkit-linear-gradient(left, #3BAFDA 60%, #E9573F 40%);
    background: -o-linear-gradient(right, #3BAFDA 60%, #E9573F 40%);
    background: -moz-linear-gradient(right, #3BAFDA 60%, #E9573F 40%);
    background: linear-gradient(to right, #3BAFDA 60% , #E9573F 40%);
}

/* ******* ------------- ******  */

.user-extra-link{

}

.notify-link{
    
}

.border-tp-bt-left-radius {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.border-tp-bt-right-radius {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.custom-profile-view .profile-heading .profile-info{
    bottom: 0px;
    background: transparent;
}

.custom-profile-view .profile-heading img.avatar {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(237, 139, 0, 0.5);
    -moz-box-shadow: 7px 7px 5px 0px rgba(237, 139, 0, 0.5);
    box-shadow: 7px 7px 5px 0px rgba(237, 139, 0, 0.5);
}

.profile-heading .profile-info .text-custom-primary {
    width: 80%;
}

.text-custom-primary{
    color: #ed8b00;
}

.panel-custom .panel-heading{
    background-color: #ed8b00;
}

.panel-custom .panel-heading li a{
    color: #fff;
}

.panel-custom .panel-heading li.active a{
    color: #555;
}
