.text-black{
    color: #000000;
}

label.error{
    color: #E9573F;
}

.actions {
    margin-right: 5px;
    margin-left: 5px;
}

.media .media-body .logout-action {
    display: inline;
    padding: 0px;
    text-decoration: none;
    border-bottom: 0px;
}

.media-body a.logout-action:hover {
    background-color: inherit;
}

.tiles-information p {
    color: #000000;
}

.notification-icon{
    margin: 3px 0 0 -45px;
    float: left;
}

.nav-dropdown-content.static-list ul li .absolute-left-content, .nav-dropdown-content ul li a .absolute-left-content {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.input-group[class*=col-] {
    padding-left: 15px; 
    padding-right: 15px; 
}

.padding-killer{
    padding: 0px !important;
}

.alert-primary{
    background-color: rgb(55, 188, 155);
    color: rgb(255, 255, 255);
}